.wrapper {
    margin: 60px 40px 0 40px;
}

.heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    width: 22%;
    display: flex;
    flex-direction: column;
    margin: 0 1.5%;
}

.img {
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

.name {
    font-weight: 500;
    margin-top: 10px;
}

.sex {
    font-weight: 300;
}

.btn-click {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 8px;

    &:hover {
        border: 1px solid #333;
    }
}

.btn {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper-bootstrap {
    display: flex;
    justify-content: center;
}
